
{% extends "shared/layout.html.twig" %}

{% block title %}
    Administration des catégories
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-center">
            <h3>Liste des catégories</h3>
        </div>
        <div>
            <a
                    href="{{ addUrl }}"
                    class="btn btn-success"
            >
                <i class="fa-sharp fa-solid fa-plus"></i>
                 
                Ajouter
            </a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Libellé</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.label }}</td>
                    <td>
                        <a
                                class="btn btn-primary"
                                href="{{ entity.edit }}"
                        >
                            <i class="fa-sharp fa-solid fa-pen"></i>
                        </a>
                        <a
                                class="btn btn-danger"
                                href="{{ entity.delete }}"
                        >
                            <i class="fa-sharp fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor%}
            </tbody>
        </table>
    </div>

{% endblock %}