<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/images/superpandachu666_logo_the_last_of_us_76252691-d421-4d53-8754-55567e5daf80.png"
                 style="width: 25%; border-radius: 10%;"/>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-expanded="false" aria-label="toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

       {% for key,value in navigation %}
{% if value is iterable %}
        <div class="dropdown">
           <button class="btn text-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ key }}
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
                {% for submenu in value %}
                    <li class="dropdown-item"><a href="{{ submenu.url }}">{{ submenu.label|e }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <li class="nav-item"><a href="{{ value }}" class="nav-link">{{ key }}</a></li>
    {% endif %}
{% endfor %}
            </ul>

            {% if user %}
               <button class="btn text-secondary">
                   <a href="3" class="nav-link">logout
                      <i class="bi bi-cart4"></i>
                    </a>
                </button>
                <button class="btn text-secondary">
                    <a href="/panier" class="nav-link">
                        <i class="bi bi-box-arrow-right"></i>
                    </a>
                </button>

                <div class="dropdown">
                    <button class="btn text-secondary dropdown-toggle" type="button" id="navdropdown"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.prénom|e }} {{ user.nom|e }}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li class="dropdown-item"><a href="/profile">Mon profil</a></li>
                        <li class="dropdown-item"><a href="/orders">Mes commandes</a></li>
                        <div class="dropdown-divider"></div>
                    </ul>
                </div>
            {% else %}
             <button class="btn text-secondary">
                    <a href="/connexion" class="nav-link">
                        <i class="fa-solid fa-user"></i>
                    </a>
                </button>
                <button class="btn text-secondary">
                    <a href="/inscription" class="nav-link">
                        <i class="bi bi-person-add"></i>
                    </a>
                </button>
                <button class="btn text-secondary">
                    <a href="/panier" class="nav-link">
                        <i class="bi bi-cart"></i>
                    </a>
                </button>

            {% endif %}
        </div>
    </div>
</nav>


