{% extends "shared/layout.html.twig" %}

{% block title %}
    Administration des utilisateurs
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-center">
            <h3>Liste des utilisateurs</h3>
        </div>
        <div>
            <a
                    href="/?page=adminUserAdd"
                    class="btn btn-success"
            >
                <i class="fa-sharp fa-solid fa-plus"></i>
                 
                Ajouter
            </a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>E-mail</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Rôle</th>
                <th>État</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.mail }}</td>
                    <td>{{ entity.prénom }}</td>
                    <td>{{ entity.nom }}</td>
                    <td>{{ entity.role }}</td>
                    <td>
                        <a
                                class="btn btn-warning"
                                href="{{ entity.toggleActive }}"
                        >
                            {% if entity.active %}
                                <i class="fa-sharp fa-solid fa-user"></i>   Actif
                            {% else %}
                                <i class="fa-sharp fa-solid fa-user-slash"></i>   Désactivé
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        <a
                                class="btn btn-success"
                                href="{{ entity.show }}"
                        >
                            <i class="fa-sharp fa-solid fa-eye"></i>
                        </a>
                        <a
                                class="btn btn-primary"
                                href="{{ entity.edit }}"
                        >
                            <i class="fa-sharp fa-solid fa-pen"></i>
                        </a>
                        <a
                                class="btn btn-danger"
                                href="{{ entity.delete }}"
                        >
                            <i class="fa-sharp fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor%}
            </tbody>
        </table>
    </div>

{% endblock %}
